# TODO - Update the DATABASE_URL field below to connect to your database
# TODO - Rename this file .env
APP_ENV=prod
APP_SECRET=ac13ea73a04c9f5ae6ad828958a1782e
DEFAULT_URI=http://localhost
DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=10.11.2-MariaDB&charset=utf8mb4"
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
MAILER_DSN=null://null
